<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
    <link rel="stylesheet" href="./css/hamilton.css">
</head>

<body>
    <h1>Margater Hamilton</h1>
    <a href="/hamilton"></a>
    <h2>Matemática, informática en ingeniera de sistemas</h2>

    <div class="box-father">
        <div class="box-one">
            <p>Ella formó parte del Charles Stark Draper Laboratory del Massachusetts Institute of Technology; en 1965
                se
                convirtió en la responsable del desarrollo del software de navegación a bordo de los ordenadores de la
                misión
                Apolo.</p>
        </div>

        <div class="box-two">
            <p> Gran parte de su trabajo en la NASA consistió en generar códigos y diseñar sistemas que dieron lugar al
                desarrollo de conceptos base del diseño de software actual.</p>
        </div>

        <div class="box-three">
            <p>Ha realizado importantes contribuciones a las ideas sobre la tolerancia a fallos y fiabilidad.</p>
        </div>
    </div>

    <img src="/img/hamilton.jpg" alt="">

</body>

</html>