<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>
<body>
    <h1>Grace Hopper</h1>
    <a href="/hopper"></a>
    <h2>Revolucionó el mundo de la computación para siempre</h2>
    <p>Grace Hopper fue integrante de la Armada de Estados Unidos y una reconocida matemática especialista en informática. Fue la precursora del lenguaje COBOL, un compilador que fue clave en el desarrollo de la computación moderna.</p>
    <img src="img/hopper.jpg" alt="">
</body>
</html>