<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>heroes</title>
    <link rel="stylesheet" href="./css/styles.css"> <!--no hace falta agregar el public xq en app ya lo llamamos-->
</head>
<body>
    <h1>Estos son nuestros héroes de la computación</h1>
    <a href="/"></a>
    <h2>Repasando nuestra historia... comencemos!!</h2>
    <div class="photo"> <!--el img puse dentro de div, aun asi no puedo modificarla-->
    <img src="/img/pc.jpg" alt="">
    </div>
</body>
</html>