* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkgray;
}

body h1 {
    color: black;
    text-align: center;
    font-size: 30px;
    text-decoration-line: underline; /*subrayado*/
}

body h2 {
    color: blueviolet;
    margin-top: 50px;
    margin-bottom: 50px;
    /*text-decoration-line: overline underline; linea arriba y abajo*/
    text-align: center;
    text-transform:uppercase; /*todas mayusculas*/
    border: 2.5px solid;
    /*border-radius: 50%; redondes que le puedo dar
    width: fit-content; para que el borde encierre solo el contenido*/
}

body div {
    text-align: center;
}
